{% extends "main/base.html" %}
{% block content %}

    <h2 class="mb-5"> Statistics for habit: {{ name }} </h2>

    {% for item in items %}
        <div class="habit-statisitcs">
            <h2> Month: {{ item.month }} (Total Points: {{ item.score }}) </h2>
            <h5> Done Days: {{ item.daysDone }} </h5>
            <h5> Positive Points: {{ item.postiivePoints }} </h5>
            <h5> Undone Days: {{ item.daysUndone }} </h5>
            <h5> Negative Points: {{ item.NegativePoints }} </h5>
        </div>
    {% endfor %}

{% endblock content %}